<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <%- include('module_panel.ejs') %>

    <div>
        <div class="comandos_superior">
            <button onclick="showHidden()"><span id="showHiddenButton" class="material-symbols-outlined">visibility</span></button>
        </div>

        <div class="div_form" id="div_form">
            <form action="" method="post">
                <section class="section1">
                    <div>
                        <label for="codigo_sku">Código (SKU)</label>
                        <input type="text" id="codigo_sku" name="codigo_sku">
                    </div>
                    <div>
                        <label for="ncm">NCM</label>
                        <input type="text" id="ncm" name="ncm">
                    </div>
                    <div>
                        <label for="servico">Serviço</label>
                        <input type="text" id="servico" name="servico">
                    </div>
                </section>
                <section>
                    <div>
                        <label for="preco">Preço</label>
                        <input type="text" id="preco" name="preco">
                    </div>
                    <div>
                        <label for="preco_custo">Preço de custo</label>
                        <input type="text" id="preco_custo" name="preco_custo">
                    </div>
                </section>
                <section>
                    <div>
                        <label for="funcionario">Funcionário</label>
                        <input type="text" id="funcionario" name="funcionario">
                    </div>
                    <div>
                        <label for="disponibilidade">Disponibilidade do Produto</label>
                        <input list="disponibilidade" name="disponibilidade" value="Disponível">
                            <datalist id="disponibilidade">
                                <option value="Disponível" id="disponivel" name="disponivel" value="disponivel">
                                <option value="Indisponível" id="indisponivel" name="indisponivel" value="indisponivel">
                            </datalist>
                    </div>
                    <div>
                        <label for="categoria">Categoria</label>
                        <input type="text" id="categoria" name="categoria">
                    </div>
                </section>
                <section>
                    <div>
                        <label for="descricao">Descrição (opcional)</label>
                        <textarea name="descricao" id="descricao" name="descricao" rows="2"></textarea>
                    </div>
                </section>
                <section>
                    <input type="submit" value="Enviar">
                </section>
            </form>
        </div>
    </div>

    <table>
        <tr>
            <th>NCM</th>
            <th>Serviço</th>
            <th>Preço</th>
            <th>Preco Custo</th>
            <th>Funcionário</th>
            <th>Disponibilidade</th>
            <th>Ações</th>
        </tr>
        <% for(let item of data) { %>
            <tr>
                <td> <%= item.ncm %> </td>
                <td> <%= item.servico %> </td>
                <td> R$ <%= item.preco %> </td>
                <td> R$ <%= item.preco_custo %> </td>
                <td> <%= item.funcionario %> </td>
                <td> <%= item.disponibilidade %> </td>
                <td>
                    <a href="">Editar</a>
                    <a href="">Excluir</a>
                </td>
            </tr>
        <% } %>
    </table>
        
    <script>
        function showHidden() {
            let divForm  = document.getElementById('div_form');
            let button = document.getElementById('showHiddenButton');

            if(divForm.style.display === 'flex') {
                divForm.style.display = 'none';
                button.textContent = 'visibility';
            } else {
                divForm.style.display = 'flex';
                button.textContent = 'visibility_off';
            }
        }
    </script>

</body>

</html>